
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos base */
body {
  font-family: 'Inter', sans-serif;
}

/* Custom Scrollbar minimalista */
.custom-scrollbar::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f5f9;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
}
